@import url("./common.css");
@import url("./macros.css");

@import url("./palestine-flag.css");
@import url("./notifications.css");
@import url("./dashboard.css");
@import url("./surfaces.css");
@import url("./launcher.css");
@import url("./players.css");
@import url("./pager.css");
@import url("./osd.css");

button {
  background-size: 400% 400%;
}

#bar-inner {
  padding: apply(inner-padding-medium);
  background-color: var(--window-bg);
  border-radius: unset;
  min-height: 28px;
}

#workspaces {
  padding: 6px;
  min-width: 0px;
  background-color: var(--module-bg);
}

#workspaces button {
  padding: 0px 8px;
  transition: padding 0.05s steps(3);
  background-color: var(--ws-inactive);
}

#workspaces button label {
  font-size: 0px;
}

#workspaces button:hover {
  background-color: var(--ws-hover);
}

#workspaces button.urgent {
  background-color: var(--ws-urgent);
}

#workspaces button.active {
  padding: 0px 32px;
  background-color: var(--ws-active);
}

#workspaces button.empty {
  background-color: var(--ws-empty);
}

#workspaces.experimental {
  background-color: var(--module-bg);
  padding: 6px;
}

#workspaces.experimental button {
  padding: 8px;
  border-radius: 18px;
  transition: border-radius 0.3s ease-in-out;
  background-color: var(--ws-inactive);
}

#workspaces.experimental button.active {
  background-color: var(--ws-active);
  border-radius: 6px;
}

#workspaces.experimental button:hover {
  background-color: var(--ws-active);
}

#tail {
  /* border: solid 8px var(--ws-active); */
  background-color: var(--ws-active);
  border-radius: 18px;
}

#cava,
#date-time,
#power-menu,
#hyprland-language,
#hyprland-window.title {
  background-color: var(--module-bg);
  padding: 0px 8px;
}

#hyprland-window.class {
  margin: -2px 8px;
}

#hyprland-window.class > * {
  font-size: apply(font-size-extra-small);
  color: darker(var(--foreground));
}

#cava {
  border: solid var(--foreground) 1px;
}

#cava .bars {
  border-radius: 1rem 1rem 0rem 0rem;
  background-color: var(--foreground);
  min-width: 4px;
}

/* system tray */
#system-tray {
  padding: 2px 4px;
  background-color: var(--module-bg);
}

.panel-progress-bar {
  border: solid 12px alpha(var(--color9), 0.8);
}

#status-container {
  background-color: var(--module-bg);
  padding: 2px;
}
