#pager-view {
  padding: apply(window-padding-large);
  border-radius: apply(border-radius-large);
  background-color: var(--background);
}

.pager-corner-container {
  min-height: 32px;
  min-width: 32px;
}

.pager-corner {
  background-color: var(--background);
  border-radius: unset;
}

.pager-client-label {
  font-weight: bolder;
}

.pager-client-label:not(.active) {
  color: darker(var(--foreground));
}

.pager-client,
.pager-workspace {
  transition: background-color 0.2s ease-in-out;
  border: solid 1px transparent;
  border-radius: calc(apply(border-radius-large) - apply(window-padding-large));
  background-color: var(--module-bg);
}

.pager-workspace.active {
  border: solid 1px var(--border-color);
  background-color: darker(var(--ws-active));
}

.pager-workspace:hover {
  background-color: var(--ws-inactive);
}
