.pager {
  background-color: var(--background);
  padding: apply(window-padding-large);
  border-radius: apply(border-radius-large);
}

.pager-client {
  transition: background-color 0.1s ease-in-out;
}

.pager-workspace-inner {
  background-color: var(--module-bg);
  border-radius: calc(apply(border-radius-large) - apply(window-padding-large));
  transition: background-color 0.1s ease-in-out;
}

.pager-workspace-inner.focused {
  border: solid 1px shade(var(--color5), 1);
  background-color: darker(darker(var(--ws-active)));
}

/* the image containing the preview of the client */
.pager-preview {
  border-radius: calc(
    (apply(border-radius-large) - apply(window-padding-large)) - 1px
  );
}

.pager-client .overlay-container {
  box-shadow: inset 0px 0px 0px 1px darker(var(--ws-inactive));
  border-radius: calc(
    (apply(border-radius-large) - apply(window-padding-large)) - 2px
  );
}

.pager-client.focused .overlay-container {
  /* inner border */
  box-shadow: inset 0px 0px 0px 1px shade(var(--color5), 1);
}
